# Birthday Paradox Explanation

The **birthday paradox** refers to the counterintuitive probability that in a group of people, at least two of them share the same birthday. For example, in a group of just 23 people, the probability is over 50%.

## Formula Using Combinatorics

For \( n \) people, the probability that **at least two people share a birthday** can be approximated using combinatorics:

$$
P(\text{at least one match}) \approx 1 - \left( \frac{364}{365} \right)^{\binom{n}{2}}
$$

Where:

- $\frac{364}{365}$ represents the probability that two randomly chosen people do not share the same birthday.
- $\binom{n}{2} = \frac{n(n-1)}{2}$is the number of unique pairs of people in a group of \( n \).

This formula simplifies the computation by focusing on the number of unique pairs and assumes that each pair has an independent probability of not sharing a birthday.

## Complement Formula

The complement gives the probability that **no two people share a birthday**:

$$
P(\text{no match}) \approx \left( \frac{364}{365} \right)^{\binom{n}{2}}
$$

In [4]:
import pandas as pd
import math

In [6]:
df = pd.read_csv("nba_2017.csv", parse_dates=["Birth Date"])
df

                Player Pos   Age                   Team Birth Date
0         Alex Abrines  SG  23.0  Oklahoma City Thunder 1993-08-01
1           Quincy Acy  PF  26.0       Dallas Mavericks 1990-10-06
2           Quincy Acy  PF  26.0          Brooklyn Nets 1990-10-06
3         Steven Adams   C  23.0  Oklahoma City Thunder 1993-07-20
4        Arron Afflalo  SG  31.0       Sacramento Kings 1985-10-15
..                 ...  ..   ...                    ...        ...
546        Cody Zeller  PF  24.0      Charlotte Hornets 1992-10-05
547       Tyler Zeller   C  27.0         Boston Celtics 1990-01-17
548  Stephen Zimmerman   C  20.0          Orlando Magic 1996-09-09
549        Paul Zipser  SF  22.0          Chicago Bulls 1994-02-18
550        Ivica Zubac   C  19.0     Los Angeles Lakers 1997-03-18

[551 rows x 5 columns]

In [8]:
df["Team"].value_counts()

Team
New Orleans Pelicans      27
Dallas Mavericks          24
Cleveland Cavaliers       22
Philadelphia 76ers        22
Atlanta Hawks             22
Brooklyn Nets             21
Milwaukee Bucks           20
Oklahoma City Thunder     19
Denver Nuggets            19
Charlotte Hornets         19
Los Angeles Lakers        19
Sacramento Kings          19
Orlando Magic             19
Phoenix Suns              18
Washington Wizards        18
Houston Rockets           18
Chicago Bulls             18
Golden State Warriors     17
Toronto Raptors           17
Memphis Grizzlies         17
Indiana Pacers            17
San Antonio Spurs         17
Minnesota Timberwolves    16
New York Knicks           16
Miami Heat                15
Los Angeles Clippers      15
Portland Trail Blazers    15
Detroit Pistons           15
Utah Jazz                 15
Boston Celtics            15
Name: count, dtype: int64

In [9]:
def nCr(n,k):
    f = math.factorial
    return f(n)/(f(k)*f(n-k))

In [12]:
nCr(7,2)

21.0

### What's the probability when n = 10?
What's the (approximate) probability of two people sharing a birthday in a group of 10 people?

In [13]:
1-((364/365)**(nCr(10,2)))

0.11614023654879224

### Implement the function `birthday_probability`

In [25]:
def birthday_probability(number_of_people):
    pairs = nCr(number_of_people,2)
    return 1-((364/365)**pairs)

### Probability when n=15

In [27]:
birthday_probability(15)

0.25028790861398265

### Create the column Birthday in the df
Use the column Birth Date to extract the "Birthday" (just Month and Day) for each player in the format MM-DD. Example: 08-01 is August, 1st.

In [28]:
df.head()

          Player Pos   Age                   Team Birth Date
0   Alex Abrines  SG  23.0  Oklahoma City Thunder 1993-08-01
1     Quincy Acy  PF  26.0       Dallas Mavericks 1990-10-06
2     Quincy Acy  PF  26.0          Brooklyn Nets 1990-10-06
3   Steven Adams   C  23.0  Oklahoma City Thunder 1993-07-20
4  Arron Afflalo  SG  31.0       Sacramento Kings 1985-10-15

In [31]:
df['Birth Day'] = df['Birth Date'].dt.strftime("%m-%d")
df

                Player Pos   Age                   Team Birth Date Birth Day
0         Alex Abrines  SG  23.0  Oklahoma City Thunder 1993-08-01     08-01
1           Quincy Acy  PF  26.0       Dallas Mavericks 1990-10-06     10-06
2           Quincy Acy  PF  26.0          Brooklyn Nets 1990-10-06     10-06
3         Steven Adams   C  23.0  Oklahoma City Thunder 1993-07-20     07-20
4        Arron Afflalo  SG  31.0       Sacramento Kings 1985-10-15     10-15
..                 ...  ..   ...                    ...        ...       ...
546        Cody Zeller  PF  24.0      Charlotte Hornets 1992-10-05     10-05
547       Tyler Zeller   C  27.0         Boston Celtics 1990-01-17     01-17
548  Stephen Zimmerman   C  20.0          Orlando Magic 1996-09-09     09-09
549        Paul Zipser  SF  22.0          Chicago Bulls 1994-02-18     02-18
550        Ivica Zubac   C  19.0     Los Angeles Lakers 1997-03-18     03-18

[551 rows x 6 columns]