In [1]:
import itertools
import pandas as pd

# The new library!
from thefuzz import fuzz, process

In [21]:
df1 = pd.read_csv("companies_1.csv")
df2 = pd.read_csv("companies_2.csv")

In [53]:
fuzz.partial_ratio("Santa Barbara County Employees Retirement System", "WRS")

50

## Data processing

#### 1. Create the df dataframe containing the product of the two CSVs

In [39]:
cartesian_product = list(itertools.product(df1["CLIENT"],df2["Firm Name"]))
df = pd.DataFrame(data=cartesian_product, columns=["csv1", "csv2"])
df

                      csv1                                               csv2
0      Adobe Systems, Inc.  AAA Northern California, Nevada & Utah Auto Ex...
1      Adobe Systems, Inc.                            ACCO Engineered Systems
2      Adobe Systems, Inc.                       Adams County Retirement Plan
3      Adobe Systems, Inc.                               Adidas America, Inc.
4      Adobe Systems, Inc.                                Adobe Systems, Inc.
...                    ...                                                ...
97883                  WRS        Yakima Valley Memorial Hospital Association
97884                  WRS                          Yokohama Tire Corporation
97885                  WRS                       Yuma Regional Medical Center
97886                  WRS                               Zions Bancorporation
97887                  WRS                    Zoological Society of San Diego

[97888 rows x 2 columns]

####  2. Create a new column Ratio Score that contains the distance for all the rows in df

In [52]:
score = [fuzz.partial_ratio(c1,c2) for c1, c2 in df.values]
df["Ratio Score"]= score
df

,csv1,csv2,Ratio Score
0,"Adobe Systems, Inc.","AAA Northern California, Nevada & Utah Auto Ex...",32
1,"Adobe Systems, Inc.",ACCO Engineered Systems,64
2,"Adobe Systems, Inc.",Adams County Retirement Plan,41
3,"Adobe Systems, Inc.","Adidas America, Inc.",50
4,"Adobe Systems, Inc.","Adobe Systems, Inc.",100
...,...,...,...
97883,WRS,Yakima Valley Memorial Hospital Association,0
97884,WRS,Yokohama Tire Corporation,0
97885,WRS,Yuma Regional Medical Center,33
97886,WRS,Zions Bancorporation,0
97887,WRS,Zoological Society of San Diego,33

#### 3. How many rows have `Ratio Score of 90 or greater?`

In [59]:
df.loc[df["Ratio Score"]>=90]

,csv1,csv2,Ratio Score
4,"Adobe Systems, Inc.","Adobe Systems, Inc.",100
742,AECOM,AECOM Technology Corporation,100
1112,Aerojet Rockedyne Holdings (GenCorp),"Aerojet Rocketdyne Holdings, Inc.",90
1484,Alameda-Contra Costa Transit District,Alameda-Contra Costa Transit District,100
3697,Amazon,"Amazon.com Holdings, Inc.",100
...,...,...,...
94923,Virginia Mason Medical Center,Virginia Mason Medical Center,100
96033,Wells Fargo,Wells Fargo & Company,100
96402,Western Digital,Western Digital Corp.,100
96771,"Western Union Financial Services, Inc.","Western Union Financial Services, Inc.",100
97141,Weyerhaeuser Company,Weyerhaeuser Company,100

#### 4. What's the corresponding company in CSV2 to `AECOM` in CSV1?

In [62]:
df.loc[(df["csv1"]=="AECOM")&(df["Ratio Score"]>80)]

      csv1                          csv2  Ratio Score
742  AECOM  AECOM Technology Corporation          100

#### 5. What's the corresponding company in CSV2 to `Starbucks` in CSV1?

In [63]:
df.loc[(df["csv1"]=="Starbucks")&(df["Ratio Score"]>80)]

            csv1                   csv2  Ratio Score
77948  Starbucks  Starbucks Corporation          100

#### 6. Is there a matching company for `Pinnacle West Capital` Corporation in column CSV 2?

In [64]:
df.loc[(df["csv1"]=="Pinnacle West Capital")&(df["Ratio Score"]>80)]

Empty DataFrame
Columns: [csv1, csv2, Ratio Score]
Index: []

#### 7. How many matching companies are there for `County of Los Angeles Deferred Compensation Program`?

`answer` = 2

In [65]:
df.loc[(df["csv1"]=="County of Los Angeles Deferred Compensation Program")&(df["Ratio Score"]>80)]

,csv1,csv2,Ratio Score
26206,County of Los Angeles Deferred Compensation Pr...,City of Los Angeles Deferred Compensation,95
26227,County of Los Angeles Deferred Compensation Pr...,County of Los Angeles Deferred Compensation Pr...,100
26229,County of Los Angeles Deferred Compensation Pr...,County of Riverside Deferred Compensation Program,82
26230,County of Los Angeles Deferred Compensation Pr...,County of San Diego Deferred Compensation Program,82
26233,County of Los Angeles Deferred Compensation Pr...,County of Weld,83
26330,County of Los Angeles Deferred Compensation Pr...,King County Deferred Compensation Program,85
26352,County of Los Angeles Deferred Compensation Pr...,Marin County Deferred Compensation Program,83

#### 8. Is there a matching company for The Queens Health Systems?

In [66]:
df.loc[(df["csv1"]=="The Queens Health Systems")&(df["Ratio Score"]>80)]

                            csv1                        csv2  Ratio Score
84149  The Queens Health Systems        Renown Health System           84
84220  The Queens Health Systems  The Queen's Health Systems           96