# Hello

Se realizó un estudio a cerca de camiones ligeros para saber si la temperatura ambiental, humedad y presion atmosférica influia en la emisión de óxido nitroso (contaminante) de dichos camiones. En condiciones experimentales se obtuvieron los datos que se muestran en la tabla.
- Estime el modelo de regresión lineal múltiple

In [9]:
import numpy as np
import pandas as pd


No = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 
      11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

y = np.array([0.9, 0.91, 0.96, 0.89, 1.0, 1.1, 1.15, 1.03, 0.77, 1.07,
     1.07, 0.94, 1.1, 1.1, 1.1, 0.91, 0.87, 0.78, 0.82, 0.95])

x1 = np.array([72.4, 41.6, 34.3, 35.1, 10.7, 12.9, 8.3, 20.1, 72.2, 24.0,
      23.2, 47.4, 31.5, 10.6, 11.2, 73.3, 75.4, 96.6, 107.4, 54.9])

x2 = np.array([76.3, 70.3, 77.1, 68.0, 79.0, 67.4, 66.8, 76.9, 77.7, 67.7,
      76.8, 86.6, 76.9, 86.3, 86.0, 76.3, 77.9, 78.7, 86.9, 70.9])

x3 = np.array([29.18, 29.35, 29.24, 29.27, 29.78, 29.39, 29.69, 29.48, 29.09, 29.60,
      29.38, 29.35, 29.63, 29.56, 29.48, 29.40, 29.28, 29.29, 29.03, 29.37])

In [10]:
df = pd.DataFrame({"No": No, "y": y, "x1":x1, "x2":x2,"x3":x3})
df

    No     y     x1    x2     x3
0    1  0.90   72.4  76.3  29.18
1    2  0.91   41.6  70.3  29.35
2    3  0.96   34.3  77.1  29.24
3    4  0.89   35.1  68.0  29.27
4    5  1.00   10.7  79.0  29.78
5    6  1.10   12.9  67.4  29.39
6    7  1.15    8.3  66.8  29.69
7    8  1.03   20.1  76.9  29.48
8    9  0.77   72.2  77.7  29.09
9   10  1.07   24.0  67.7  29.60
10  11  1.07   23.2  76.8  29.38
11  12  0.94   47.4  86.6  29.35
12  13  1.10   31.5  76.9  29.63
13  14  1.10   10.6  86.3  29.56
14  15  1.10   11.2  86.0  29.48
15  16  0.91   73.3  76.3  29.40
16  17  0.87   75.4  77.9  29.28
17  18  0.78   96.6  78.7  29.29
18  19  0.82  107.4  86.9  29.03
19  20  0.95   54.9  70.9  29.37

In [11]:
df["x1_squared"] = df ["x1"]**2
df["x2_squared"] = df ["x2"]**2
df["x3_squared"] = df ["x3"]**2
df

    No     y     x1    x2     x3  x1_squared  x2_squared  x3_squared
0    1  0.90   72.4  76.3  29.18     5241.76     5821.69    851.4724
1    2  0.91   41.6  70.3  29.35     1730.56     4942.09    861.4225
2    3  0.96   34.3  77.1  29.24     1176.49     5944.41    854.9776
3    4  0.89   35.1  68.0  29.27     1232.01     4624.00    856.7329
4    5  1.00   10.7  79.0  29.78      114.49     6241.00    886.8484
5    6  1.10   12.9  67.4  29.39      166.41     4542.76    863.7721
6    7  1.15    8.3  66.8  29.69       68.89     4462.24    881.4961
7    8  1.03   20.1  76.9  29.48      404.01     5913.61    869.0704
8    9  0.77   72.2  77.7  29.09     5212.84     6037.29    846.2281
9   10  1.07   24.0  67.7  29.60      576.00     4583.29    876.1600
10  11  1.07   23.2  76.8  29.38      538.24     5898.24    863.1844
11  12  0.94   47.4  86.6  29.35     2246.76     7499.56    861.4225
12  13  1.10   31.5  76.9  29.63      992.25     5913.61    877.9369
13  14  1.10   10.6  86.3  29.56      112.36     7447.69    873.7936
14  15  1.10   11.2  86.0  29.48      125.44     7396.00    869.0704
15  16  0.91   73.3  76.3  29.40     5372.89     5821.69    864.3600
16  17  0.87   75.4  77.9  29.28     5685.16     6068.41    857.3184
17  18  0.78   96.6  78.7  29.29     9331.56     6193.69    857.9041
18  19  0.82  107.4  86.9  29.03    11534.76     7551.61    842.7409
19  20  0.95   54.9  70.9  29.37     3014.01     5026.81    862.5969

In [12]:
df["x1x2"] = df["x1"] * df["x2"]
df["x1x3"] = df["x1"] * df["x3"]
df["x2x3"] = df["x2"] * df["x3"]
df["x1y"] = df["x1"] * df["y"]
df["x2y"] = df["x2"] * df["y"]
df["x3y"] = df["x3"] * df["y"]
df

,No,y,x1,x2,x3,x1_squared,x2_squared,x3_squared,x1x2,x1x3,x2x3,x1y,x2y,x3y
0,1,0.90,72.4,76.3,29.18,5241.76,5821.69,851.4724,5524.12,2112.632,2226.434,65.160,68.670,26.2620
1,2,0.91,41.6,70.3,29.35,1730.56,4942.09,861.4225,2924.48,1220.960,2063.305,37.856,63.973,26.7085
2,3,0.96,34.3,77.1,29.24,1176.49,5944.41,854.9776,2644.53,1002.932,2254.404,32.928,74.016,28.0704
3,4,0.89,35.1,68.0,29.27,1232.01,4624.00,856.7329,2386.80,1027.377,1990.360,31.239,60.520,26.0503
4,5,1.00,10.7,79.0,29.78,114.49,6241.00,886.8484,845.30,318.646,2352.620,10.700,79.000,29.7800
5,6,1.10,12.9,67.4,29.39,166.41,4542.76,863.7721,869.46,379.131,1980.886,14.190,74.140,32.3290
6,7,1.15,8.3,66.8,29.69,68.89,4462.24,881.4961,554.44,246.427,1983.292,9.545,76.820,34.1435
7,8,1.03,20.1,76.9,29.48,404.01,5913.61,869.0704,1545.69,592.548,2267.012,20.703,79.207,30.3644
8,9,0.77,72.2,77.7,29.09,5212.84,6037.29,846.2281,5609.94,2100.298,2260.293,55.594,59.829,22.3993
9,10,1.07,24.0,67.7,29.60,576.00,4583.29,876.1600,1624.80,710.400,2003.920,25.680,72.439,31.6720
10,11,1.07,23.2,76.8,29.38,538.24,5898.24,863.1844,1781.76,681.616,2256.384,24.824,82.176,31.4366
11,12,0.94,47.4,86.6,29.35,2246.76,7499.56,861.4225,4104.84,1391.190,2541.710,44.556,81.404,27.5890
12,13,1.10,31.5,76.9,29.63,992.25,5913.61,877.9369,2422.35,933.345,2278.547,34.650,84.590,32.5930
13,14,1.10,10.6,86.3,29.56,112.36,7447.69,873.7936,914.78,313.336,2551.028,11.660,94.930,32.5160
14,15,1.10,11.2,86.0,29.48,125.44,7396.00,869.0704,963.20,330.176,2535.280,12.320,94.600,32.4280
15,16,0.91,73.3,76.3,29.40,5372.89,5821.69,864.3600,5592.79,2155.020,2243.220,66.703,69.433,26.7540
16,17,0.87,75.4,77.9,29.28,5685.16,6068.41,857.3184,5873.66,2207.712,2280.912,65.598,67.773,25.4736
17,18,0.78,96.6,78.7,29.29,9331.56,6193.69,857.9041,7602.42,2829.414,2305.123,75.348,61.386,22.8462
18,19,0.82,107.4,86.9,29.03,11534.76,7551.61,842.7409,9333.06,3117.822,2522.707,88.068,71.258,23.8046
19,20,0.95,54.9,70.9,29.37,3014.01,5026.81,862.5969,3892.41,1612.413,2082.333,52.155,67.355,27.9015

In [13]:
df.columns

Index(['No', 'y', 'x1', 'x2', 'x3', 'x1_squared', 'x2_squared', 'x3_squared',
       'x1x2', 'x1x3', 'x2x3', 'x1y', 'x2y', 'x3y'],
      dtype='object')

In [16]:
import json

# Store all sums in a dictionary
totals = {
    "y": df["y"].sum(),
    "x1": df["x1"].sum(),
    "x2": df["x2"].sum(),
    "x3": df["x3"].sum(),
    "x1_squared": df["x1_squared"].sum(),
    "x2_squared": df["x2_squared"].sum(),
    "x3_squared": df["x3_squared"].sum(),
    "x1x2": df["x1x2"].sum(),
    "x1x3": df["x1x3"].sum(),
    "x2x3": df["x2x3"].sum(),
    "x1y": df["x1y"].sum(),
    "x2y": df["x2y"].sum(),
    "x3y": df["x3y"].sum()
}

# Convert dictionary to JSON format (pretty print)
json_totals = json.dumps(totals, indent=4)

In [17]:
print(json_totals)

{
    "y": 19.42,
    "x1": 863.1,
    "x2": 1530.5000000000002,
    "x3": 587.8399999999999,
    "x1_squared": 54876.89000000001,
    "x2_squared": 117929.69,
    "x3_squared": 17278.5086,
    "x1x2": 67010.83000000002,
    "x1x3": 25283.395000000004,
    "x2x3": 44979.76999999999,
    "x1y": 779.4769999999999,
    "x2y": 1483.519,
    "x3y": 571.1219000000001
}

In [19]:
df["x3_squared"].sum()

17278.5086

$$
\begin{aligned}
  20b_0    &+  863.1b_1   &+&  1528.5b_2   &+&  588.45b_3   &=   19.43  \\
  863.1b_0  &+ 54876.89b_1 &+&  67290.78b_2 &+& 25342.34b_3  &=  745.82  \\
  1528.5b_0 &+ 67290.78b_1 &+& 117935.21b_2 &+& 44976.85b_3  &= 1483.45  \\
  588.45b_0 &+ 25342.34b_1 &+&  44975b_2    &+& 17321.12b_3  &=  549.70
\end{aligned}
$$

$$
\begin{align}
b_0 &= -3.50778 \\
b_1 &= -0.002625 \\
b_2 &= 0.000799 \\
b_3 &= 0.154155
\end{align}
$$


Por lo tanto

$$
\hat{y} =-3.50778-0.002625x_1+0.000799x_2+0.154155x_3
$$